<footer class="w-full inset-x-0 bottom-0 flex-shrink-0 px-4">
<div>
  <span class="block text-center text-gray-800 text-sm font-light tracking-wide font-sans">
    &copy; MealComply &nbsp; Twitter: <a href="https://twitter.com/MealComply" target="_blank">@MealComply</a> Instagram: <a href="https://www.instagram.com/mealcomply/" target="_blank">@MealComply</a> YouTube: <a href="https://www.youtube.com/channel/UCzuihtrXZiUCfuBmGYfR1zQ" target="_blank">@MealComply</a>
  </span>
</div>
</footer>
