<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center justify-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <div class="font-light font-mono text-browngray text-4xl my-6">
        <p class="w-full tracking-tighter typeIt"></p>
      </div>
      <h1 class="font-bold tracking-widest text-4xl">No guessing, just results</h1>
    </div>
    <div class="w-full sm:w-1/3">
     <p> Welcome to our website, the ultimate destination for anyone seeking a healthier lifestyle! We understand that achieving your fitness goals can be challenging, especially when it comes to maintaining a healthy and balanced diet. That's why we've created a platform that simplifies the process of healthy eating, making it more accessible and convenient for everyone.</p>

<p>Our website is designed to provide you with personalized meal plans and recipes based on your desired calories and macros. Whether you're looking to lose weight, gain muscle, or maintain your current weight, our meal plans cater to all your dietary needs and preferences.</p>

<p>To get started, simply enter your basic information, such as your height, weight, and activity level, and our algorithm will calculate your daily calorie and macronutrient requirements. You can then select your desired meal plan based on your specific goals and dietary preferences, such as vegan, vegetarian, gluten-free, or paleo.</p>

<p>Our extensive database of recipes includes everything from breakfast, lunch, dinner, and snacks, making it easy for you to plan your meals for the week. All our recipes are delicious, nutritious, and easy to prepare, with step-by-step instructions and nutritional information to help you track your intake.</p>

<p>We also offer a shopping list feature, which generates a customized grocery list based on the recipes you've selected, making grocery shopping more convenient and hassle-free. And if you're ever stuck for inspiration or looking for new ideas, our blog features articles and tips on healthy eating, meal prep, and lifestyle.</p>

<p>With our website, healthy eating has never been easier or more enjoyable. So why wait? Sign up today and start your journey to a healthier, happier you!</p>
    </div>
  </div>
</div>
<script>
  new TypeIt(".typeIt", {
    strings: "MealComply",
    speed: 75,
    waitUntilVisible: true
  }).go();
</script>
